

skinparam {
 
	' use the strictuml style - no circles, no footboxes, no drop shadows, and proper arrows
	' Style strictuml
 
	BackgroundColor transparent
 
	TitleFontName Helvetica
	TitleFontStyle Bold
	TitleFontSize 12
	sequenceParticipant underline
	
	Default {
		TextAlignment center
		FontName Helvetica
	}
	
	Sequence {
		LifeLine {
			BackgroundColor LightGrey
			BorderColor DarkBlue
		}
		
		Arrow {
			Color DarkBlue
			Thickness 0.5
		}
		
		' FontColor #FF0000
		' FontName Helvetica Neue
		' FontStyle Light
		
		
		Actor {
			BorderThickness 0.5
			FontSize 5
			BackgroundColor #F2F2F2
			BorderColor DarkBlue
		}
		
		Participant {
			BorderThickness 0.5
			BackgroundColor White
			BorderColor DarkBlue
			Font {
				Style Light
				Size 10
				Name Helvetica Neue
			}
		}

		Box {
			BackgroundColor #F2F2F2
			BorderColor Black
			FontSize 10
		}
 
		Message {
			Align center
		}
		
		Stereotype {
			Font {
				Size 8
				Style Plain
				Color #515151
			}
		}
	}
	
	Boundary {
		BackgroundColor #F2F2F2
		BorderColor DarkBlue
		FontSize 10			
	}

	Class {
		FontSize 10
		FontName Helvetica Neue
		FontStyle Plain
		BackgroundColor White
		BorderColor Black
		BorderThickness 0.2
		FontColor Black

		Attribute {
			IconSize 0
			FontSize 8
			FontName Helvetica Neue
			FontColor Black
			FontStyle Light
		}

		Stereotype {
			Font {
				Size 8
				Style plain
				Color #515151
			}
		}
	}
	
	Note {
		FontSize 8
		FontColor White
		BorderThickness 0.1
		BorderColor DarkBlue
		BackgroundColor #99CCFF
		Shadowing true
	}
	
	Component {
		FontSize 10
		FontName Helvetica Neue
		FontStyle Bold
		BackgroundColor White
		BorderColor Black
		BorderThickness 0.2
		FontColor Black
	}
	
	Interface {
		IconSize 8
		BackgroundColor White
		BorderColor Black
		BorderThickness 0.2
		Font {
			Color Black
			Name Helvetica Neue
			Size 10
			Style Plain
		}
	}
	
	Stereotype {
		IBackgroundColor White
		IBorderColor DarkBlue
	}
	
	CircledCharacter {
		FontSize 10
		FontStyle Plain
	}
	
	Arrow  {
		Font {
			Size 8
			Name Helvetica Neue
			Style Light
		}
		Thickness 0.2
	}

	Activity {
		ArrowThickness 0.2
		BackgroundColor transparent
		Border {
			Color DarkBlue
			Thickness 0.2
		}

		Diamond {
			BackgroundColor #99CCFF
			BorderColor DarkBlue
			BorderThickness 0.2
			FontColor White
		}

		BarColor DarkBlue
	}

}

hide circle
hide footbox
scale 1024 width
scale 800 height